/*recipe.css*/
/*上午11组许海晨16340263*/
/*web作业一*/
body{
	background-color: white;
	background-repeat: repeat;
	background-image: url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
	background-attachment: fixed;
}
h1,h2,h3,h4,h5{
	background-color: #F0F0F0;
	letter-spacing: 0.2em;
}
h1{
	color: #A4A400;
	text-align: center;
	font-size: 22pt;
	text-decoration: underline;
	font-family: Century Gothic,Futura,Verdana,sans-serif ;
	font-weight: bold;
}
p1{
	font-size: 11pt;
	font-family: Century Gothic,Futura,Verdana,sans-serif;
	color: #404040;
}
h2,h3,h4,h5{
	color: #A4A400;
	font-size: 18pt;
	text-decoration: underline;
	font-weight: normal;
}
ul{
	font-size: 11pt;
	font-family: Century Gothic,Futura,Verdana,sans-serif;
	color: #404040;
	list-style-image: url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif);
}
blockquote{
	background-color:#FFFFC8;
	font-size: 11pt;
	font-family: Georgia,Garamond,serif ;
	font-style:italic;
}
a{
	color:#A4A400;
	text-decoration: underline;
	font-family: Century Gothic,Futura,Verdana,sans-serif;
}
h6{
	color:#FF7F50;
	font-family: Century Gothic,Futura,Verdana,sans-serif;
	font-size: 30pt;
	font-weight: bold;
	font-style: italic;
	text-align: center; 
}
p2{
	font-family: Century Gothic,Futura,Verdana,sans-serif;
	font-size: 18pt;
	text-align: center; 
}
